body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 85vw;
  position: absolute;
  right: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:hover{
  outline-color: red !important;
}

.employee-card:hover{
  box-shadow: 0px 0px 10px 0px #F0F0F0;
}

hr {
  border: 1px solid #F0F0F0;
}

b {
  font-weight: 600;
}